.emoji {
  font-size: 30px;
}
 
body.light-mode {
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s ease;
}
body.dark-mode {
  background-color: #1a1919;
  color: #999;
} 

.paperCustom-light {
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s ease;
}

.paperCustom-dark {
  background-color: #1a1919;
  color: #999;
} 

 .text-offline {
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
}
.img-offline  {
  margin:  0 auto;
}

.container-offline {
  width: 100%;
  display: flex;
  flex-wrap: wrap;  
  flex-direction: column;
}

.a-offline{
  font-size: 1rem;
  margin: 0 auto;
  padding: 1rem;
  text-decoration: none;
  border: 1px solid #000;
  color: #000;
}
.a-offline:hover{
  cursor: pointer;
  background-color: #e2e8f0;
}

.modeTriger:hover {
  cursor: pointer;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

