.emoji {
  font-size: 30px;
}
 
body.light-mode {
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s ease;
}
body.dark-mode {
  background-color: #1a1919;
  color: #999;
} 

.paperCustom-light {
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s ease;
}

.paperCustom-dark {
  background-color: #1a1919;
  color: #999;
} 

